    *{
        margin: 0;
        padding: 0;
    }

    header{
        display: flex;
        height: 70px;
        background-color: red;
        img{
            width: 150px;
            height:auto
        }
        .logo{
            width: 40%;
        }
        :tton
        .menu{
            display: flex;
            width: 60%;
            align-items: center;

        }
    }
    ul{
        display: flex;
        gap: 30px;
        li{
            list-style: none;
        }
    }