* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", serif;

}


.main {
    display: flex;
    height: 70px;
    padding: 30px 60px;
    align-items: center;
}

ul {
    width: 90%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 40px;
}

.main img {
    width: 90px;
    height: 51px;
}
.first-s{
    margin: 60px;
    background-color:#D2C7F0;
    display: flex;
}
.image{
    background-color: ;

}